body{
    grid-template: "head""head"
               "setion1" "section1"
               "setion2" "section2"
               "foot" "foot";
    width: 100%;
    height: 100vh;
    background:#ECF0F1
}
header{
    grid-area: head;
    text-align: center;
    background-color: black;
    height: 5vh;
}
header > h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
section{
    grid-area: section1;
    text-align: center;
    font-size: large;
    height: 15vh;
}
section >h1{
    font-style: italic;
    font-size: 4rem;
}
#container{
    grid: section2;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows:repeat(2,25vh) ;
    gap: 2%;
    height: 65vh;
}
.traits{
    text-align: center;
    padding: 50px 0;
    border-color: crimson;
    animation:spin 2s ease-out
}
footer{
    grid-area: foot;
    text-align: center;
    background-color: black;
    
    height: 5vh;
}
footer > h1{
    color:white;
}

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);

  width:100px;
  height:100px;
}
#container> #t1{background:#19A68C;animation-delay:-1.5s}
#container> #t2{background:#F63D3A;animation-delay:-1s}
#container> #t3{background:#FDA543;animation-delay:-0.5s}
#container> #t4{background:#193B48}




@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
